@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
  padding : 0 ;
  margin  : 0 ;
  box-sizing : border-box ;
  /* font-family: Outfit ; */

  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, Poppins ,'Trebuchet MS', sans-serif; */
  font-size: 20px;;

  scroll-behavior: smooth;
}


body{
  min-height: 100vh ;
  background-color: rgb(220, 220, 237);
}

hr{
    border : none;
    height : 1px ;
    background-color: rgb(38, 38, 140);

}

a {
  text-decoration: none;
  color: inherit;
}

.app-content{
display:flex;

}

.flex-col{
  display : flex;
  flex-direction: column;
  gap : 10px;
}