.Footer{
    color: rgb(233, 237, 239);
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 20px;
    padding : 30px 8vw ;
    padding-top: 70px ;;
    margin-top: 30px;

    
}

.footer-content{
    width :100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap :30px;

}

.footer-content-left  ,.footer-content-center , .footer-content-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-right: 50px;
    gap :20px;
}

 .footer-content-center li , .footer-content-right li{

    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}
 .footer-content-center h2 , .footer-content-right h2{
  color :white ;

}

.footer-socia-icon{
    display: flex;
    width:  40px;
    margin-right: 20px ;
    gap : 20px;
    cursor: pointer;
}

.Footer hr{
    width :100% ;
    height :2px;
    color: rgb(254, 255, 255);
    margin: 20px 0;
    background-color: rgb(120, 110, 110);
    border: none;
}

/* ---------- RESPONSIVE FOOTER ---------- */

/* Tablet */
@media (max-width: 900px) {

  .footer-content {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .footer-content-left {
    grid-column: span 2;
    padding-right: 0;
  }
}


@media (max-width: 600px) {

  .Footer {
    padding: 30px 20px;
    text-align: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .footer-content-left,
  .footer-content-center,
  .footer-content-right {
    align-items: center;
    padding-right: 0;
  }

  .footer-content-center li,
  .footer-content-right li {
    margin-bottom: 8px;
  }

  .footer-socia-icon {
    justify-content: center;
  }

  .Footer hr {
    margin: 15px 0;
  }
}

