
*{
      font-size: 20px;;
}

.listTableFormat{
    display :grid ;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    gap : 10px;
    padding : 12px 13px ;
    border : 1px solid rgb(138, 135, 135)
     
}

.listTableFormat.title{
    background-color:rgb(206, 209, 208);
}

.listTableFormat img{
    width : 50px;

}
.cursor {
    cursor : pointer;
}


@media(max-width : 600px){
    .listTableFormat{
        grid-template-columns: 1fr 3fr 1fr;
        gap : 15px;
    }

     .listTableFormat.title{
        display : none;
     }
    
}
